.thanks__box {
    font-family: var(--mainKor-font);
    width: 100%;
    height: 100vh;
    background: var(--Bg-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--mainfont-color);
    font-size: 5rem;
    border-top: 1px solid var(--mainfont-color);
}
#contact {
    height: 100vh;
    display: flex;
    background: var(--Bg-color);
    justify-content: space-between;
    border-top: 1px solid var(--mainfont-color);
    .contact__inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1100px){ 
            margin: auto;
        }
        @media (max-width: 750px){ 
            width: 100%;
        }
        .chat__box {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .chatImg {width: 20rem; z-index: 99;}
            @media (max-width: 1100px){ 
                display: none;
            }
            .contact__box {
                position: absolute;
                width: 35rem;
                overflow: hidden; /* 이미지가 넘치는 부분 숨기기 */
            
                img {
                    width: 100%;
                    height: auto;
                    animation: rotateAnimation 20s linear infinite; /* 10초 동안 360도 회전 */
                    transform-origin: center; /* 회전 중심을 가운데로 설정 */
                }
            
                @keyframes rotateAnimation {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
        .form__box {
            position: relative;
            width: 50%;
            @media (max-width: 1100px){ 
                width: 100%;
            }
            .form__inner {
                width: 30rem;
                height: 30rem;
                margin: auto;
                background: rgba(255, 255, 255, 0.6);
                border-radius: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
                form {
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .email__box {
                    position: relative;
                    display: flex;
                    width: 10rem;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 3rem;
                    cursor: pointer;
                    >span {display: inline;}
                    span::after {
                        background: currentColor;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 1px;
                        position: absolute;
                        transform: scaleX(0);
                        transform-origin: 100% 50%;
                        transition: transform .4s cubic-bezier(.2,1,.8,1) .1s;
                        width: 50%;
                    }:hover:after  {
                        transform: scaleX(1);
                        transform-origin: 0 50%;
                        transition-timing-function: cubic-bezier(.7,0,.2,1);
                    }
                    .CustomLink-module--icon--edbbc {
                        transform: rotate(90deg); width: 15%; margin-left: 0.5rem;
                    }
                }
               
                input, textarea{
                    width: 20rem;
                    padding: 0.5rem;
                    margin-bottom: 1rem;                
                }
                textarea {
                    height: 10rem;
                }
                button {
                    border: none;
                    padding: 0.3rem;
                    transition: 1s;
                    background: linear-gradient(to bottom right, #BD7E8F, #325992); 
                }
                button:hover{color: #fff;}
            }
            .title__box {
                width: 30rem;
                display: flex;
                align-items: center;
                margin-top: 2rem;
                flex-direction: column;
                justify-content: center;
                margin: 5% auto;
                .contact__title {
                    color: #fff;
                    margin-bottom: 1rem;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;
                    position: relative; /* Add this to make ::after pseudo-element relative to .contact__title */
                    &::after {
                        content: ''; /* Add this to make ::after generate a box */
                        width: 100%;
                        height: 5px;
                        background: linear-gradient(to bottom right, #BD7E8F, #325992);
                        opacity: 0;
                        position: absolute; /* Add this to position the ::after element */
                        bottom: -5px; /* Add this to position the ::after element at the bottom */
                        left: 0; /* Add this to position the ::after element at the left */
                        transition: opacity 0.3s; /* Add a transition for smooth effect */
                      }
                      &:hover::after { /* Use &:hover to target the hover state of .contact__title */
                        opacity: 1;
                      }
                }  
                .contact__text {
                    transition: .5s;
                    .text {
                        font-size: 1.4rem;
                        a{text-decoration: underline;}
                    }

                }
            }
        }
    }
}

