:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";

    --animate-duration: 2000ms;   /*애니메이션(ani) 실행 시간*/
    --animate-delay: 5000s;   /*ani 실행 지연 시간 설정*/

  
    // --mainBg-color: #f3ede8;
    --mainBg-color: #fff;
    --Bg-color: #CAD3E2;
    --subBg100: #fddfdf;
    --subBg200: #fcf7de;
    --subBg300: #defde0;
    --subBg400: #dfe3fd;
    --subBg500: #f0defd;
  
    // --mainfont-color: #E8B132;
    --mainfont-color: #000;
    --white: #fff;
    --black: #000;
    --black100: #2b2b2b;
    --black200: #434343;
    --black300: #686868;
    --black400: #e0e0e0;
  
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}
  
